In [32]:
import pandas as pd

stu_perf_df = pd.read_csv('../data/Students_Performance_Dataset.csv')
stu_perf_df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5

In [33]:
# Check the missing values in the dataset
stu_perf_df.isna().sum()

Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                   0
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                  0
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1025
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64

In [34]:
# Drop the missing value
new_df = stu_perf_df.dropna()
new_df

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Mathematics,97.36,40.61,59.61,...,62.84,59.8865,F,10.3,Yes,No,Master's,Medium,1,5.9
1,S1001,Maria,Brown,student1@university.com,Male,18,Business,97.71,57.27,74.00,...,98.23,81.9170,B,27.1,No,No,High School,Low,4,4.3
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Engineering,99.52,41.84,63.85,...,91.22,67.7170,D,12.4,Yes,No,High School,Low,9,6.1
3,S1003,Omar,Williams,student3@university.com,Female,24,Engineering,90.38,45.65,44.44,...,55.48,51.6535,F,25.5,No,Yes,High School,Low,8,4.9
4,S1004,John,Smith,student4@university.com,Female,23,CS,59.41,53.13,61.77,...,87.43,71.4030,C,13.3,Yes,No,Master's,Medium,6,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,S5993,Ali,Johnson,student4993@university.com,Female,22,CS,50.82,53.45,98.33,...,55.27,67.6875,D,23.0,No,Yes,PhD,Low,6,7.1
4994,S5994,John,Johnson,student4994@university.com,Female,19,Mathematics,62.57,58.18,42.62,...,85.15,61.6775,D,27.2,No,No,Bachelor's,Medium,9,7.3
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,CS,96.09,45.86,45.63,...,51.66,53.5470,F,7.8,No,No,Master's,Medium,10,4.5
4998,S5998,Sara,Davis,student4998@university.com,Male,23,Engineering,99.09,55.44,57.45,...,84.74,68.6585,D,14.5,Yes,No,PhD,Medium,10,5.9
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Mathematics,90.33,93.29,88.42,...,66.23,78.7485,C,29.9,Yes,Yes,PhD,High,2,5.3

In [35]:
new_df = pd.get_dummies(new_df, drop_first=True)
new_df.head()

,Age,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Study_Hours_per_Week,...,Grade_C,Grade_D,Grade_F,Extracurricular_Activities_Yes,Internet_Access_at_Home_Yes,Parent_Education_Level_High School,Parent_Education_Level_Master's,Parent_Education_Level_PhD,Family_Income_Level_Low,Family_Income_Level_Medium
0,22,97.36,40.61,59.61,73.69,53.17,73.4,62.84,59.8865,10.3,...,False,False,True,True,False,False,True,False,False,True
1,18,97.71,57.27,74.00,74.23,98.23,88.0,98.23,81.9170,27.1,...,False,False,False,False,False,True,False,False,True,False
2,24,99.52,41.84,63.85,85.85,50.00,4.7,91.22,67.7170,12.4,...,False,True,False,True,False,True,False,False,True,False
3,24,90.38,45.65,44.44,68.10,66.27,4.2,55.48,51.6535,25.5,...,False,False,True,False,True,True,False,False,True,False
4,23,59.41,53.13,61.77,67.66,83.98,64.3,87.43,71.4030,13.3,...,True,False,False,True,False,False,True,False,False,True

In [36]:
new_df.info()
new_df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 3975 entries, 0 to 4999
Columns: 7987 entries, Age to Family_Income_Level_Medium
dtypes: bool(7975), float64(10), int64(2)
memory usage: 30.6 MB

,Age,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Study_Hours_per_Week,Stress_Level (1-10),Sleep_Hours_per_Night
count,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000,3975.000000
mean,21.052327,75.281909,70.707572,69.573192,75.002684,74.760018,50.500327,74.729970,71.669846,17.569308,5.504906,6.511245
std,1.993770,14.458947,17.369083,17.140551,14.343446,14.390146,29.187698,14.456935,7.241839,7.205194,2.888624,1.442410
min,18.000000,50.020000,40.000000,40.010000,50.000000,50.000000,0.000000,50.000000,50.602000,5.000000,1.000000,4.000000
25%,19.000000,62.660000,56.255000,54.905000,62.630000,62.395000,25.300000,62.025000,66.508750,11.500000,3.000000,5.300000
50%,21.000000,75.570000,70.830000,69.380000,75.100000,74.790000,50.300000,74.420000,71.632500,17.500000,6.000000,6.500000
75%,23.000000,87.930000,85.610000,83.950000,87.415000,87.110000,76.200000,87.510000,76.728750,23.800000,8.000000,7.800000
max,24.000000,100.000000,99.990000,99.980000,99.990000,99.990000,100.000000,100.000000,95.091500,30.000000,10.000000,9.000000